

@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Bad+Script&family=Bonheur+Royale&family=Dancing+Script:wght@400..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Parisienne&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
  margin: 0;
  font-family: "Dancing Script", cursive;
  background-color: #2c003e;
  color: white;
}

/* NAV BAR */
nav {
  background-color: #5e2b9a;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav .nav-links {
  display: flex;
  gap: 1rem;
}

nav button {
  background-color: #9c4dcc;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.video-card {
  background-color: #47166a;
  padding: 1rem;
  border-radius: 10px;
}

.video-card video {
  width: 100%;
  border-radius: 10px;
}

/* CONTACT INFO */
#contact-info {
  display: none;
  background-color: #4b007a;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

/* WELCOME SCREEN */
.welcome-screen
{
  position: fixed;
  font: bolder;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5b2a86;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-size: 2.5rem;
  font-weight: bold;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}





@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav .nav-links {
    flex-direction: column;
    width: 100%;
  }

  .popup {
    font-size: 1rem;
    padding: 1rem;
  }
}
